.collectionCard {
  display: flex;
  background-color: #231f20;
  border-radius: 20px;
  justify-content: space-between;
}
.collectionCard__text {
  display: flex;
  flex-direction: column;
  padding: 20px 13px 20px 20px;
  justify-content: space-between;
}
.collectionCard__top {
  font-size: 12px;
  font-weight: 700;
  line-height: 16.8px;
  letter-spacing: 0.05em;
  color: #8c8c8c;
  padding-bottom: 8px;
}
.collectionCard__name {
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
  color: white;
}
.collectionCard__button {
  height: 44px;
  width: 44px;
  background-color: #666666;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.collectionCard__image{
  border-radius: 20px;
}
.collectionCard_size_big {
  display: flex;
  background-color: #231f20;
  border-radius: 20px;
  justify-content: space-between;
  flex-direction: column;
}
.collectionCard__image-wrapper{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-left: 20px;
}