.swiper {
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 0;
}

.image {
  object-fit: cover;
  width: 100%;
  height: 1058px;
  border-radius: 20px;
}

.slider_container {
  display: flex;
  max-width: 100%;
}

.slider_container :global .swiper-pagination-bullets {
  display: block;
}

.swiper-button-prev::after {
  color: #231F20;
  background-color: #231F20;
  border-radius: 10px;
  width: 50px;
  height: 50px;
  background-image: url(../../../../public/images/arrow-left.svg);
  background-repeat: no-repeat;
  background-position:center;
}

.swiper-button-next::after {
  color: #231F20;
  background-color: #231F20;
  border-radius: 10px;
  width: 50px;
  height: 50px;
  background-image: url(../../../../public/images/arrow.svg);
  background-repeat: no-repeat;
  background-position:center;
}

@media screen and (min-width: 1440px) and (max-width: 1919px) {
  .image {
    height: 820px;
  }
}

@media screen and (min-width: 1200px) and (max-width: 1439px) {
  .image {
    height: 680px;
  }
}

@media screen and (min-width: 744px) and (max-width: 1199px) {
  .image {
    height: 413px;
  }
}

@media screen and (min-width: 361px) and (max-width: 743px) {
  .image {
    height: 500px;
  }
}

@media screen and (max-width: 743px) {
  .image {
    height: 500px;
  }

  .swiper-pagination-bullets {
    display: flex;
    justify-content: center;
    column-gap: 11px;
  }

  .swiper__pagination-bullet {
    width: 14px;
    height: 5px;
    background-color: #C1C1C1;
    border-radius: 2px;
    opacity: 1;
    cursor: pointer;
  }

  .swiper__pagination-bullet_active {
    background-color: #231F20;
  }

  .swiper__pagination-bullet:active {
    background-color: #231F20;
  }
}
@media screen and (max-width: 360px) {
  .swiper-button-prev::after {
    display: none;
  }
  .swiper-button-next::after {
    display: none;
  }
}