.swiper-button-next::after {
    background-image: url(../../../../public/images/arrow.svg);
    color: red;
}
.swiper-button-prev::after {
    background-image: url(../../../../public/images/arrow-left.svg);
    background-repeat: no-repeat;
    color: red;
}