.header {
  color: white;
  position: relative;
  padding: 20px 40px 0 40px;
  margin-bottom: -100px;
  z-index: 1;
  /* max-width: 1920px; */
}
.header__items {
  display: flex;
  gap: 128px;
  align-items: center;
}
.header__catalog {
  display: flex;
  color: white;
  gap: 30px;
}
.header__catalog li {
  text-transform: uppercase;
  font-family: var(--font-manrope);
  font-size: 14px;
  font-weight: 700;
  line-height: 19px;
}
.header__phone {
  display: flex;
  gap: 10px;
}
.header__number {
  font-size: 16px;
  font-weight: 700;
  line-height: 22px;
}
.header__account {
  display: flex;
  gap: 8px;
  align-items: center;
}
.header__email {
  font-size: 14px;
  font-weight: 700;
  line-height: 19px;
  text-transform: uppercase;
}
.header__email {
  font-size: 14px;
  font-weight: 400;
}
.header__icons {
  display: flex;
  gap: 20px;
}
.header__icon {
  display: flex;
  position: relative;
}
.header__counter {
  background-color: #d81823;
  height: 14px;
  width: 14px;
  border-radius: 50%;
  position: absolute;
  top: 10px;
  left: 5px;
  font-size: 10px;
  font-weight: 700;
  line-height: 14px;
}
