.collections {
  padding-top: 100px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 300px 230px 300px;
  gap: 20px;
}

.collection_size_big {
  grid-row: span 2;
  background-color: #231f20;
  border-radius: 20px;
  position: relative;
}
.collection__top {
  grid-column: span 2;
  background-color: #f1f4f5;
  height: 230px;
}

.collection__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
}
.collection__title {
  font-size: 48px;
  font-weight: 700;
  line-height: 67px;
  padding-bottom: 30px;
}

.collection__button {
  display: flex;
  background-color: #231f20;
  gap: 10px;
  padding: 16px 20px 16px 20px;
  border-radius: 10px;
  align-items: center;
}
.collection__button_text {
  color: white;
  font-size: 14px;
  font-weight: 700;
  line-height: 19px;
  letter-spacing: 0.05em;
  text-align: center;
}

.collections__mobile{
  display: none;
}
/* макет на 1440 */
@media screen and (max-width: 1919px) {
  .collections {
    padding-top: 80px;
    grid-template-rows: 178px 135px 178px;
  }
  .collection__top {
    height: 135px;
  }
  .collection__wrapper {
    margin-top: 10px;
  }
  .collection__title {
    font-size: 35px;
    line-height: 49px;
    padding-bottom: 20px;
  }
  .collection__button_text {
    font-size: 13px;
  }
}

/* макет на 1200 */
@media screen and (max-width: 1439px) {

}

/* макет на 744 */
@media screen and (max-width: 1199px) {
  .collections {
    grid-template-columns: repeat(3, 228px);
    grid-template-rows: repeat(3, 257px);
    padding-top: 60px;
  }
  .collection__top {
    grid-column: span 1;
    grid-column-start: 2;
    grid-row-start: 2;
  }
  .collection_size_big {
    grid-row: span 1;
  }
  .collection__title {
    font-size: 30px;
    text-align: center;
  }
  .collection__wrapper {
    margin-top: 40px;
  }
}

/* макет на 360 */
@media screen and (max-width: 743px) {
  .collections__mobile{
    display: flex;
    flex-direction: column;
    gap:10px;
    width:340px;
  }
  .collections{
    display: none;
  }
  .collection__title {
    text-align: left;
  }
  .collection__button-wrapper{
    align-self: center;
    margin-top: 10px;
  }
}