.new__contaner {
  gap: 40px;
  padding-top: 100px;
  align-self: stretch;
  padding-bottom: 40px;
}

.new__top {
  display: flex;
  justify-content: space-between;
}

.new__title {
  font-size: 48px;
  font-weight: 700;
  line-height: 67px;
}

.new__button {
  display: flex;
  background-color: #231f20;
  gap: 10px;
  padding: 16px 20px 16px 20px;
  border-radius: 10px;
  align-items: center;
}

.new__button_text {
  color: white;
  font-size: 14px;
  font-weight: 700;
  line-height: 19px;
  letter-spacing: 0.05em;
  text-align: center;
}

.new__button_type_mobile {
  display: none;
}

@media screen and (max-width: 1919px) {
  .new__contaner {
    padding-top: 80px;
  }
}

/* макет на 1200 */
@media screen and (max-width: 1439px) {}

/* макет на 744 */
@media screen and (max-width: 1199px) {
  .new__contaner {
    padding-top: 60px;
  }
}

/* макет на 360 */
@media screen and (max-width: 743px) {
  .new__contaner{
    margin-bottom: -85px;
  }
  .new__button_type_desktop {
    display: none;
  }

  .new__button_type_mobile {
    display: flex;
    width: 196px;
    margin-top: 10px;
    margin-bottom: 60px;
    transform: translateY(570px);
  }

 /*  .slider_container :global .swiper-pagination-bullets {
    display: flex;
    justify-content: center;
    column-gap: 11px;
    margin: 20px 0 20px 0;
    color: black;
  }

  .custom_swiper_pagination_bullet {
    width: 19px;
    height: 19px;
    border-radius: 50%;
    background-color: green;
    opacity: 1;
    cursor: pointer;
  }

  .custom_swiper_pagination_bullet_active {
    background-color: red;
  }

  .custom_swiper_pagination_bullet:active {
    background-color: blue;
  }

  .custom_swiper_pagination_bullet {
    width: 10px;
    height: 10px;
  } */
  .custom_swiper_pagination_bullet{
    color: red;
    width: 20px;
    height: 20px;
  }
}